

<.live_component 
  module={XSocialWeb.UserProfileComponent} 
  id={@user.id}
  name={@user.name}
  username={@user.username}
  bio={@user.username}
  cover_picture={@user.cover_picture_url}
  profile_picture={@user.profile_picture_url}
  following_count={123}
  followers_count={245}
  website={@user.username}
/>

